body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Reduced the width */
    box-sizing: border-box;
    margin-top: 10px; /* Added margin to separate from the heading */
}

form label {
    display: block;
    margin-bottom: 5px; /* Reduced the margin */
    color: #333;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="email"] {
    width: 100%;
    padding: 8px; /* Reduced the padding */
    margin-bottom: 15px; /* Reduced the margin */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

form button {
    background-color: #007bff; /* Set the button color to cyan */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;

}

form button:hover {
    background-color: #1684cd; /* Darker shade of cyan for hover effect */
}
